
<!-- header -->
<app-header></app-header>


<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
            <img width="400px" height="400px" src="https://t3.ftcdn.net/jpg/04/48/35/42/360_F_448354204_33yPB12jtqzD31robpa85NoPctJ2thRd.jpg" alt="Page not Found">
            <h4>Look look you are lost !!!</h4>
            <p>The Page you are looking for is not available</p>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>